$primery: green;
$secndory: black;


//Basic
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    color: $secndory;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
form,
a,
ul,
li,
i {
    margin: 0;
    padding: 0;
    color: $secndory;
    text-decoration: none;
    list-style: none;
}

//Top Nav Bar
.nav-top {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.067);
    padding: 5px 20px;

    .social-media {
        display: flex;
        align-items: center;

        i {
            margin-left: 15px;

            font-size: 15px;
        }
    }

    .lang {
        display: flex;
        align-items: center;
        border-left: solid rgba(0, 0, 0, 0.1) 2px;
        border-right: solid rgba(0, 0, 0, 0.1) 2px;
        padding-right: 5px;
        padding-left: 5px;
        margin-left: 15px;

        img {
            width: 40px;
            margin-right: 10px;
        }

        .down-arrow {
            margin-right: 10px;
            font-size: 15px;
        }
    }

    .log {
        margin-left: 15px;

        a {
            &:hover {
                color: $primery;
            }
        }
    }
}