body {
  margin: 0px;
  padding: 0px;
  font-family: "Times New Roman", Times, serif;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
form,
a,
ul,
li,
i {
  margin: 0;
  padding: 0;
  color: black;
  text-decoration: none;
  list-style: none;
}

nav {
  box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: fixed;
  background-color: white;
  z-index: 999;
}

.nav-top {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.067);
  padding: 5px 20px;
  width: 100%;
}
.nav-top .social-media {
  display: flex;
  align-items: center;
}
.nav-top .social-media i {
  margin-left: 15px;
  font-size: 15px;
}
.nav-top .lang {
  display: flex;
  align-items: center;
  border-left: solid rgba(0, 0, 0, 0.1) 2px;
  border-right: solid rgba(0, 0, 0, 0.1) 2px;
  padding-right: 5px;
  padding-left: 5px;
  margin-left: 15px;
}
.nav-top .lang img {
  width: 40px;
  margin-right: 10px;
}
.nav-top .lang .down-arrow {
  margin-right: 10px;
  font-size: 15px;
}
.nav-top .log {
  margin-left: 15px;
}
.nav-top .log a:hover {
  color: #008000;
}

.nav-bottem .collapse {
  justify-content: end;
}
.nav-bottem .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
.nav-bottem .dropdown-menu {
  border-radius: 0;
}
.nav-bottem .input-search {
  border-radius: 0px;
  color: white;
  border: solid rgba(0, 0, 0, 0.5) 1px;
  height: 35px;
}
.nav-bottem .btn-search {
  border: none;
  color: white;
  background-color: #008000;
  padding: 6px 8px;
}
.nav-bottem .btn-search .bi-search {
  color: white;
}
.nav-bottem .fav, .nav-bottem .cart {
  font-size: 20px;
}
.nav-bottem .nav-link {
  padding: 30px 15px 20px 15px;
}
.nav-bottem .nav-item {
  position: relative;
}
.nav-bottem .nav-item:hover::after {
  position: absolute;
  width: 100%;
  content: "";
  height: 4px;
  background-color: #008000;
  bottom: 0px;
}

.box {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.bg-img {
  background-image: url(../img/banner-bg.jpg);
  width: 100%;
  height: 600px;
  z-index: 1;
}

.box-inner {
  top: 200px;
  width: 100%;
}

.inner-contaner {
  justify-content: space-between;
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  width: 950px;
  margin: auto;
}

.left, .right {
  margin: 20px;
}

.right {
  transform: rotate(-20deg);
}

.info-box {
  text-align: center;
}
.info-box p {
  margin: 20px 0px;
  text-align: start;
  color: rgba(0, 0, 0, 0.6);
}
.info-box .title {
  font-size: 50px;
  font-weight: 600;
  line-height: 50px;
  color: black;
}
.info-box .add-btn-bg {
  margin: 5px;
  padding: 5px 12px;
  border: none;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0);
}
.info-box .add-btn-bg i {
  background-color: #008000;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 30px;
  color: white;
}

.features {
  margin: 100px 40px;
}
.features .container .card {
  border: none;
  text-align: center;
  border-radius: 0px;
}
.features .container .card i {
  font-size: 30px;
  font-weight: 800;
}
.features .container .card h6 {
  font-size: 20px;
  margin: 10px 0px;
  font-weight: 600;
}
.features .container .card p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
}
.features .container .card:nth-child(2) {
  border-right: solid rgba(0, 0, 0, 0.1) 2px;
  border-left: solid rgba(0, 0, 0, 0.1) 2px;
}
.features .container .card:nth-child(3) {
  border-right: solid rgba(0, 0, 0, 0.1) 2px;
}/*# sourceMappingURL=style.css.map */