$primery: #008000;
$secndory: black;
$third: white;

//Basic
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    color: $secndory;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
form,
a,
ul,
li,
i {
    margin: 0;
    padding: 0;
    color: $secndory;
    text-decoration: none;
    list-style: none;
}

//Top Nav Bar
.nav-top {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.067);
    padding: 5px 20px;

    .social-media {
        display: flex;
        align-items: center;

        i {
            margin-left: 15px;

            font-size: 15px;
        }
    }

    .lang {
        display: flex;
        align-items: center;
        border-left: solid rgba(0, 0, 0, 0.1) 2px;
        border-right: solid rgba(0, 0, 0, 0.1) 2px;
        padding-right: 5px;
        padding-left: 5px;
        margin-left: 15px;

        img {
            width: 40px;
            margin-right: 10px;
        }

        .down-arrow {
            margin-right: 10px;
            font-size: 15px;
        }
    }

    .log {
        margin-left: 15px;

        a {
            &:hover {
                color: $primery;
            }
        }
    }
}

// Bottem nav
.nav-bottem {
    display: grid;
    grid-template-areas: "brand nav-links nav-links side";
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.15);
    padding-left: 20px;
    padding-right: 20px;

    .brand {
        grid-area: brand;
    }

    .nav-mobile {
        grid-area: nav-links;

        ul {
            display: flex;
            justify-content: end;
            align-items: center;

            .nav-items {
                padding: 38px 20px 30px 20px;
            }
        }

    }

    .nav-side {
        grid-area: side;
        display: flex;
        justify-content: end;
        align-items: center;

        .Search-form {
            display: flex;
            justify-content: end;
            align-items: center;

            .Search-input {
                border: solid rgba(0, 0, 0, 0.063) 1px;
                border-right: none;
                padding: 5px 10px;
            }

            .Search-btn {
                border: solid rgba(0, 0, 0, 0.063) 1px;
                border-left: none;
                background-color: $primery;
                padding: 5px 10px;

                .bi-search {
                    color: $third;
                }

            }

            margin-right: 10px;
        }

        .fav,
        .cart {
            font-size: 20px;
            margin: auto 10px auto auto;
        }

    }
}

// Main banner
.box{
    position: relative;
    z-index: -1;
    .box-bg{
    z-index: 0;
    width: 100%;
  

    }
    .top-box{
        position: absolute;
        top: 0px;
        width: 100%;

        .bg-shoes{
            width:600px;
            height: 500px;
        }
        
    }
}